body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("login-background.jpg");
    background-color: black;
}
/*
footer 
{
    margin:0;
    padding: 0;
    color: rgb(231, 152, 152);
    font-family:'Arial Narrow';
    font-weight: 300;
    position: absolute;
    bottom: 1px;
    text-decoration: none;
    font-size: 24px;
    background: transparent;
    text-align: center;

}

*/

h3 a
{
    margin:0;
    padding: 0;
    color: rgb(231, 152, 152);
    font-family:'Arial Narrow';
    font-weight: 500;
    position: absolute;
    bottom: 1px;
    text-decoration: none;
    font-size: 24px;
    background: transparent;
}

.box
{
    width: 300px;
    height: 280px;
    padding: 40px;
    position: absolute;
    top: 350px;
    right: 320px;
    transform: translate(-50%,-50%);
    background: #c2afaf;
    text-align: center;
    border-radius: 24px;
}
.box h1 
{
    color: rgba(31, 44, 31, 0.829) ;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"], .box input[type = "password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(31, 44, 31, 0.829);
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: rgba(31, 44, 31, 0.829);
    border-radius: 24px;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus
{
    width: 250px;
    transition: 0.2s;
    border-color: seagreen;
}
.box input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(31, 44, 31, 0.829);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: rgba(31, 44, 31, 0.829);
    border-radius: 24px;
    cursor: pointer;
}
.box input[type = "submit"]:hover
{
    background-color: seagreen ;
}
